@import "styles/_colors";

.tableContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.contentWrapper {
    flex-direction: column;
    justify-content: center;
    width: 1000px;
    
    & > div {
        width: 100% !important;
    }
}

.heading {
    font-size: 34px !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
}

.highlightedText {
    font-weight: 600;
    color: $wildBlueYander !important;
    text-decoration: none;
}

.deleteIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 24px;
    height: 24px;
    background-color: $wildBlueYander;
    border-radius: 10px;

    &:hover {
        background-color: $wildBlueYanderLighter;
    }

    & > img {
        width: 100%;
        height: auto;
    }
}

.primaryText {
    font-size: 20px;
    margin-bottom: 0;
}


.heading {
    font-size: 34px !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
}

.highlightedText {
    font-weight: 600;
    color: $wildBlueYander !important;
    text-decoration: none;
}

.table {
    margin-top: 20px;
}