@import "styles/colors";

.sectionWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.sectionContainer {
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    & > section:not(section:first-of-type) {
        margin-top: 50px;
        width: 100%;
    }
}

.headingImageContainer {
    border-radius: 20px;
    border-width: 1px;
    overflow: hidden;
    margin-bottom: 30px;

    & > img {
        width: 100%;
        height: auto;
    }
}

.heading {
    font-size: 34px !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
}

.highlightedText {
    font-weight: 600;
    color: $wildBlueYander !important;
    text-decoration: none;
}

.definitionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.primaryText {
    font-size: 18px;
    margin-bottom: 0;
}

.solvencyComponentsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0 0 40px;
    margin: 0;

    & > li {
        padding: 0 !important;
    }
}

.formulaContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.formulaDescription {
    display: flex;
    flex-direction: column;
    // gap: 8px;
}

.formulaImage {
    width: 250px;
    height: auto;
}

.formulaSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}